@use "../../utils/variables";
@use "../../utils/mixin";

.callToAction-bg {
  margin-bottom: 220px;
  padding: 20px;
  .callToAction {
    text-align: center;
    background-color: variables.$secondary;
    border-radius: 4px;
    padding: 32px;
    
    h2 {
      font-size: 4.8rem;
      font-weight: 500;
      margin-bottom: 16px;
    }
    p {
      margin: 0 auto;
      max-width: 630px;
      font-size: 2.4rem;
      line-height: 1.5;
      margin-bottom: 40px;
    }
  }

  @include mixin.responsive("md") {
    .callToAction {
      h2 {
        font-size: 3.2rem;
      }

      p {
        font-size: 1.8rem;
      }
    }
  }

  @include mixin.responsive('sm') {
    margin-bottom: 120px;
    .callToAction {
      h2 {
        font-size: 2.4rem;
      }
    }
  }
}