@use "../../utils/variables";
@use "../../utils/mixin";

.servicos-veiculares-bg {
  margin-bottom: 220px;

  h2 {
    font-size: 4.8rem;
    line-height: 1.2;
    font-weight: 500;
    margin-bottom: 60px;
  }

  .servicos-veiculares-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 20px;
    gap: 40px;
    max-width: 1280px;
    margin: 0 auto;

    li {
      background-color: variables.$secondary;
      padding: 20px;
      border-radius: 4px;

      img {
        margin-bottom: 4px;
      }

      h3 {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 16px;
      }

      p {
        font-size: 1.8rem;
        line-height: 1.5;
      }
    }
  }

  @include mixin.responsive('md') {
    h2 {
      font-size: 3.2rem;
    }

    justify-self: 1k;

    .servicos-veiculares-list {
      grid-template-columns: 1fr 1fr;
    }
  }

  @include mixin.responsive('sm') {
    margin-bottom: 120px;

    h2 {
      font-size: 2.4rem;
    }

    .servicos-veiculares-list {
      grid-template-columns: 1fr;
    }
  }

  @include mixin.responsive("xsm") {
    h2 {
      font-size: 2.4rem;
    }
  }
}

.modal-bg.active {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  height: 600vh;
  width: 100%;
  background-color: rgba(0, 0, 0, .5);
}

.modal.active {
  background-color: #fff;
  padding: 40px;
  margin-top: 100px;
  display: block;
  border-radius: 4px;
}

.modal {
  display: none;
}

.modal header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.modal p {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 32px;
}

.modal li {
  font-weight: 600;
  margin-bottom: 20px;
}

a[href="#"] {
  color: #fff;
  text-decoration: underline;
  margin-top: 20px;
}

.close {
  cursor: pointer;
}